<%- include('partials/header.ejs') %>
        <h1 class='menu'>MENU</h1>
        <div class='flex-container' id='category-card-container'>
            <% categoryArray.forEach((category, i) => { %>
                    <a class='menu-category-card' href='#item-card-container'>
                        <div class='menu-category-card-body'>
                            <span class='menu-category-desc'><%= category.description %></span>
                        </div>
                    </a>
            <% }); %>
            <div class='w-100'></div>
            <div class='menu-show-all'><a class='btn btn-default' href='#item-card-container'>Show All</a></div>
            
        </div>
        <div class='displaySelectedCategory'></div>
        <div class='filter-section'>
            <div class='filter-form'>
                <div class='item-search-filter'>
                    <label for='item-search-text'>Search by description</label>
                    <input type='text' name='item-search-text' id='item-search-text'>
                    <input type='button' name='item-search-btn' id='item-search-btn' value='Search'>
                </div>
                <div class='item-category-filter'>
                    <select class='menu-category-select' name='menu-category-select'>
                        <option value='-1'>Filter by Category</option>
                        <% categoryArray.forEach((category, i) => { %>
                            <option value='<%= category.description %>'><%= category.description %></option>
                        <% }); %>
                    </select>
                </div>
                <div class='item-availability-filter'>
                    <label for='availability'>Availability:</label>
                    <input type='radio' name='availability' id='all' value='-1' checked>
                    <label for='all' selected>All</label>
                    <input type='radio' name='availability' id='available' value='1'>
                    <label for='available'>Available</label>
                    <input type='radio' name='availability' id='out' value='0'>
                    <label for='out'>Unvailable</label>
                </div>
            </div>
        </div>
        <div class='flex-container' id='item-card-container'>
            
        </div>
<%- include('partials/footer.ejs') %>